<!-- <ng-container ngIf="SharedService.getshowflag()">
<div class="header">
    <div class="proimage">
      <i class="pi pi-arrow-left" (click)="back()"></i>
      <img src="assets/Group 98.svg" alt="image" />       
    </div>
    <div class="profile">
      <div class="details">
        <p class="name">{{loggedInUserName}}</p>
        <p class="job">{{userJobTitle}}</p>
      </div>
      <div class="detailsimg">
        <img src="{{loggedInUserImage}}" alt="image" />
      </div>
    </div>
  </div>
</ng-container> -->
<router-outlet></router-outlet>